/*
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
#navbar{
    background-color: #3e5780;
}
.navbar-brand{
    color:whitesmoke;
}
.navbar-brand:hover{
    color:white;
}
.nav-link{
    color:lightgray;
}
.nav-link:hover{
    color:white;
}
#top,#middle{
    padding-top: 4rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-secondary{
    background-color:#3e5780;
    border-color:#3e5780;
}
.btn-secondary:hover{
    background-color:#1e88e5;
    border-color:#1e88e5;
}
#jumbotron-top:hover{
    color:#1e88e5;
}
#jumbotron-top::-moz-selection,::selection{
    color:white;
    background-color:#3e5780;
}
#language-row:hover{
    color:#1e88e5;
}
#language-row::-moz-selection,::selection{
    color:white;
    background-color:#3e5780;
}
 */
 body {
    padding-top: 3.5rem;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }